$primaryColor: #37358d;
$secondaryColor: #f2f2f2;
$tertiaryColor: #ec1d69;
$fourthColor: #828282;
$fifthColor: #E1E1EB;
$sixthColor: #EDEDF3;
$black: #333333;
$seventhColor: #bdbdbd;
$eightColor: #4F4F4F;


@import "scss";
